.nav{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 4px gray;
}
.link{
    padding-right: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat-Medium',sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-right:4px solid #87b99b ;
}
.link:hover{
    color:#87b99b  ;
}