.our_team {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .our_team__title {
    margin-bottom: 46px;
    color: rgb(11, 20, 39);
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(231, 116, 46);;
  }
  .our_team__description {
    margin-bottom: 40px;
    color: rgb(11, 20, 39);
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
  }
  .our_team__card_wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
  }
.card_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 252px;
  }
.card_team__pic {
    width: 252px;
    height: 252px;
    /* border:1px solid red; */
    border-radius: 50%;
  }
.card_team__img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
       border-radius: 50%;
  }
.card_team__title {
    color: rgb(11, 20, 39);
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
  }
.card_team__descript {
    color: rgb(11, 20, 39);
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
  }
  