.form__error{
    color:rgb(233, 109, 87);
}
.add_review{
    background: url('../public/images/review/Leave_review.png');
}
.title{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 18px;

    margin-bottom: 32px;
    color: rgb(231, 116, 46);
    font-family: 'Montserrat-Medium',sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.form{
    max-width: 528px;
    margin: 0px auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.form__label{
    width: 100%;
    color: rgb(231, 116, 46);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.label_title{
    display: block;
    margin-bottom: 10px;
}
.form__input{
    width: 100%;
    height: 48px;
    padding:5px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form__area{
    padding:5px 15px; 
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
}
.form__error{
    color:rgb(233, 109, 87);
}
.form__btn {
    width: 224px;
    height: 65px;
    margin-bottom: 44px;
    color: rgb(11, 20, 39);
    font-family: 'Montserrat-SemiBold',sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
	background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(247, 167, 12),rgb(231, 116, 46) 100%);
    border-radius: 10px;
}
.checkbox_label{

}
.checkbox_text{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat-Medium',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat-SemiBold',sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.form__btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.form__btn:hover {
	box-shadow: 0 1px 1px 0  #cfcfcf, 0 2px 5px 0  #cfcfcf;
}
.form__btn:active {
	background-color: #efefef !important;
}
.form__btn:disabled {
	background-color: #eee;
	color: #444;
	pointer-events: none;
}