.title{
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgb(231, 116, 46);
    font-family: 'Montserrat-Medium',sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.section_top{
    background: url('../public/images/review/Review_top.png');
}
.section_top__wrapp{
    max-width: 1080px;
    margin: 0 auto;
    padding: 44px;
}
.section_top__descript{
padding-bottom: 32px;
    font-family: Montserrat;
    color:white;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    border-bottom: 2px solid rgb(231, 116, 46);
}
.inner_wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-top: 32px;
}
.inner_wrapp__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
}
/* .inner_wrapp__img{

} */
.inner_wrapp__text{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.section__link{
    color:rgb(231, 116, 46);
    text-decoration: none;
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

/* review---------------------------- */

.review{

}
.review__wrapp{
    max-width: 1080px;
    margin: 0 auto;
}
.review_card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    list-style: none;
    border-bottom:1px solid rgb(222, 222, 222);;
}
.review_card__title{
    display: flex;
    flex-direction: column;
    width: 344px;
    padding-top: 39px;
    padding-bottom: 39px;
    color: rgb(231, 116, 46);
    font-family: 'Montserrat-Medium',sans-serif;
    font-size: 29px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.review_card__text{
    padding-top: 39px;
    padding-bottom: 39px;
    color: rgb(11, 20, 39);
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.review_date{
    margin-top: 8px;
    color: rgb(11, 20, 39);
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.text{
    padding: 40px;
    text-align: center;
    color: rgb(231, 116, 46);
    font-family: 'Montserrat-Medium',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center; 
}