* ,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
/* :root {
    --color-bg: #2C2C32;
    --color-active:  #e7742e;
    --color-current:  white;
} */

 .active {
    color: #e7742e;
    cursor: pointer;
} 
